@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  src: local('Quicksand Medium'), local('Quicksand-Medium'), url(../fonts/6xkodszam9ie8kbpra_p2hcyt8l6.ttf) format('truetype');
}
